*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #041806;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right:5%;

}
.logo{
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.logo span{
    color: #295A2E;
}

nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover{
    color: #295A2E;
    transition: .3s;
}

button{
    color: white;
    border: none;
    font-size: 20px;
    background-color: #295A2E;
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: bold;
    transition: .3s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.content1{
    margin-top: 10%;
    margin-left: 5%;
    color: white;
    font-weight:600;
    font-size: 30px;
    float: left;
}

.content1 h1{
    font-size: 148px;
    font-weight: 900;
    line-height: 90%;
}
.content1 .j{
    margin-top: 40px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: 100;
}
.content1 .btn{
    margin-top: 30px;
    margin-left: 7%;
}
.content1 .btn button{
    margin-left: 10px;
}

/*Adding my picture to the website*/

.img{
    float: right;
}

.img img{
    width: 80%;
    margin-top: 7%;
}
