*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #041806;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right:5%;

}
.logo{
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.logo span{
    color: #295A2E;
}

nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover{
    color: #295A2E;
    transition: .3s;
}

button{
    color: white;
    border: none;
    font-size: 20px;
    background-color: #295A2E;
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: bold;
    transition: .3s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.content1{
    margin-top: 10%;
    margin-left: 5%;
    color: white;
    font-weight:600;
    font-size: 30px;
    float: left;
}

.content1 h1{
    font-size: 148px;
    font-weight: 900;
    line-height: 90%;
}
.content1 .j{
    margin-top: 40px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: 100;
}
.content1 .btn{
    margin-top: 30px;
    margin-left: 15%;
}
.content1 .btn button{
    margin-left: 10px;
}
.content1 a{
    text-decoration: none;
    color: white;
    background-color: #295A2E;   
}

/*Adding my picture to the website*/

.img{
    float: right;
    margin-right: 5%;
}

.img img{
    margin-top: 10%;
}

/*Contact me Section*/

.Contactform{
    display: inline-block;
    color: white;
    margin-top: 5%;
    width: 100%;
}
.Contactform h1{
    text-align: center;
    font-weight: 450;
    font-size: 40px;
}

.Contactform .main{
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 100;
}
.contactext{
    margin-top: 90px;
    margin-left: 10%;
    float: left;
}
.contactext p{
    margin-bottom: 40px;
    font-size:28px;
    font-weight: lighter;
}

.formarea{
    width: 30%;
    padding: 40px;
    background: #295A2E;
    float: left;
    margin-left: 15%;
}
.formarea .textbox{
    background: #295A2E;
    margin-top: 15px;
}

.formarea .textbox span{
    background-color: transparent;
}
.formarea form h2{
    background-color: #295A2E;
}

.formarea .textbox input,
.formarea .textbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 3px solid #041806;
    background-color: #295A2E;
    outline: none;
    resize: none;
}
.formarea .textbox span{
    position: absolute;
    left: 44%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #041806;
}

.formarea .textbox input:focus ~ span,
.formarea .textbox input:valid ~ span 
.formarea .textbox textarea:focus ~ span,
.formarea .textbox textarea:valid ~ span 
{ 
    color: white;
    font-size: 15px;
    transform: translateY(-20px);
}